.highlight-container {
    position: relative; /* so .hide-lines-button absolute position works */
}
.hide-lines-button {
    position: absolute;
    right: 20px;
    top: 20px;
}
@media (max-device-width: 768px), (max-width: 768px) {
    .hide-lines-button {
        display: none;
    }
}

.highlight pre {
    overflow-x: auto;
    overflow-y: hidden;
    font-family: Liberation Mono, monospace;
    margin-bottom: 1em;
    background-color: #fafafa;
}
.lineno {
    background-color: #f0f0f0;
    border-left: 5px;
    border-style: solid;
    border-color: #f0f0f0;
    font-family: Liberation Mono, monospace;
}
.highlight {width: 100%;}

/*
    main colors:
*/

.highlight pre .hll { background-color: #ffffcc; }



.highlight pre .na, /* Name.Attribute */
.highlight pre .nb, /* Name.Builtin */
.highlight pre .nc, /* Name.Class */
.highlight pre .no, /* Name.Constant */
.highlight pre .nd, /* Name.Decorator */
.highlight pre .ni, /* Name.Entity */
.highlight pre .ne, /* Name.Exception */
.highlight pre .nf, /* Name.Function */
.highlight pre .nl, /* Name.Label */
.highlight pre .nn, /* Name.Namespace */
.highlight pre .nt, /* Name.Tag */
.highlight pre .nv, /* Name.Variable */
.highlight pre .bp, /* Name.Builtin.Pseudo */
.highlight pre .fm, /* Name.Function.Magic */
.highlight pre .vc, /* Name.Variable.Class */
.highlight pre .vg, /* Name.Variable.Global */
.highlight pre .vi, /* Name.Variable.Instance */
.highlight pre .vm { color: #e62e00; } /* Name.Variable.Magic */




.highlight pre .c, /* Comment */
.highlight pre .ch, /* Comment.Hashbang */
.highlight pre .cm, /* Comment.Multiline */
.highlight pre .cp, /* Comment.Preproc */
.highlight pre .cpf, /* Comment.PreprocFile */
.highlight pre .c1, /* Comment.Single */
.highlight pre .cs { color: #767514;} /* Comment.Special */



.highlight pre .err, /* Error */
.highlight pre .gr { color: #FF0000; font-weight: bold;} /* Generic.Error */



.highlight pre .k, /* Keyword */
.highlight pre .kc, /* Keyword.Constant */
.highlight pre .kd, /* Keyword.Declaration */
.highlight pre .kn, /* Keyword.Namespace */
.highlight pre .kp, /* Keyword.Pseudo */
.highlight pre .kr, /* Keyword.Reserved */
.highlight pre .kt { color: #964524; } /* Keyword.Type */




/* What do these even do?!?!?!?! */
.highlight pre .gd, /* Generic.Deleted */
.highlight pre .ge, /* Generic.Emph */
.highlight pre .gh, /* Generic.Heading */
.highlight pre .gi, /* Generic.Inserted */
.highlight pre .go, /* Generic.Output */
.highlight pre .gp, /* Generic.Prompt */
.highlight pre .gs, /* Generic.Strong */
.highlight pre .gu, /* Generic.Subheading */
.highlight pre .gt { color: #A00000; } /* Generic.Traceback */



.highlight pre .m, /* Literal.Number */
.highlight pre .mb, /* Literal.Number.Bin */
.highlight pre .mf, /* Literal.Number.Float */
.highlight pre .mh, /* Literal.Number.Hex */
.highlight pre .mi, /* Literal.Number.Integer */
.highlight pre .mo, /* Literal.Number.Oct */
.highlight pre .il { color: #e62e00; } /* Literal.Number.Integer.Long */

.highlight pre .s, /* Literal.String */
.highlight pre .sa, /* Literal.String.Affix */
.highlight pre .sb, /* Literal.String.Backtick */
.highlight pre .sc, /* Literal.String.Char */
.highlight pre .dl, /* Literal.String.Delimiter */
.highlight pre .sd, /* Literal.String.Doc */
.highlight pre .s2, /* Literal.String.Double */
.highlight pre .se, /* Literal.String.Escape */
.highlight pre .sh, /* Literal.String.Heredoc */
.highlight pre .si, /* Literal.String.Interpol */
.highlight pre .sx, /* Literal.String.Other */
.highlight pre .sr, /* Literal.String.Regex */
.highlight pre .ss, /* Literal.String.Symbol */
.highlight pre .s1 { color: #b38f00; } /* Literal.String.Single */




.highlight pre .o { color: #000; } /* Operator */
.highlight pre .ow { color: #A00; font-weight: bold; } /* Operator.Word */



.highlight pre .w { color: #bbbbbb; } /* Text.Whitespace */