/* general layout */
.page {
    position:relative;
    width: 100%;
    min-height: 100%; /* forces the content to be sufficiently large so the footer is at the bottom of the page even with only a small amount of content*/
}

.sideAndPageHolder {
    padding-bottom: 100px;
    width: 100%;
}

/* header */
.websiteTitle {
    margin: auto;
    font-size: 2.2em;
    padding: 8px;
    color: #FFF;
    text-align: center;
    padding-left: 200px; /* make it center on the .centered-content div and not the whole page by offseting navigationbar width*/
	font-family: "Impact", Times, serif;
}
.websiteHeader {
    width: 100%;
    background-color: #000;
    height: 60px;
}


/* navigation */
.navigationbar {
    position:absolute;
    /*vertical-align: top;*/
    list-style-type: none;
    width: 200px;
    top: 60px;
}
.navigationbar li:before {
	content:"";
}
.navigationbar li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #555;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #000;
}
.navigationbar li a:Hover {
    background-color: #111;
}
.active-link {
    background-color: #A00;
}
#grey-area {
    position:fixed;
    height: 100%;
    z-index: -1;
    width: 200px;
    background-color: #999;
}


/* content */
.page-title {
    font-size: 3em;
	color: #000;
    padding-bottom: 4px;
    margin-top: 40px;
    margin-bottom: 5px;
    border-width: 3px;
    border-color: #555;
    border-bottom-style: solid;
    text-align: center;
}

.content {
    /*min-height:100%;*/
    margin-left: 200px;
    /*vertical-align: top;*/
    /*width: 600px;*/
    padding-bottom:20px;
}

.centered-content {
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}



/* footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:20px;
    background-color: #000;
}

.bloglistlink {
	font-weight: bold;
	font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 5px;
    border-width: 2px;
    border-color: #000;
    border-bottom-style: solid;
	padding-bottom: 4px;
    overflow-x: auto; /* this makes sure that the heading line does not go through images it wraps around */
}

.bloglistlink a {
	color: #A00;
    text-decoration: none;
}

/* page content styles */
h1 {
	color: #A00;
	font-weight: bold;
	font-size: 2.2em;
    margin-top: 50px;
    margin-bottom: 5px;
    border-width: 2px;
    border-color: #000;
    border-bottom-style: solid;
	padding-bottom: 4px;
    overflow-x: auto; /* this makes sure that the heading line does not go through images it wraps around */
}
h2 {
	color: #964524;
	font-weight: bold;
	font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 5px;
    border-width: 1px;
    border-color: #000;
    border-bottom-style: solid;
	padding-bottom: 4px;
    overflow-x: auto; /* this makes sure that the heading line does not go through images it wraps around */
}
h3 {
	color: #767514;
	font-weight: bold;
	font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 5px;
    border-width: 1px;
    border-color: #000;
    border-bottom-style: solid;
	padding-bottom: 4px;
    overflow-x: auto; /* this makes sure that the heading line does not go through images it wraps around */
}


.img-left {
	float: left;
	margin-right: 1em;
}
.img-right {
	float: right;
	margin-left: 1em;
}
.date {
    text-align: right;
}


@media (max-device-width: 1300px), (max-width: 1300px) {
    .centered-content {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-device-width: 768px), (max-width: 768px) {
    .websiteTitle {
        padding-left: 0;
    }
    .sideAndPageHolder {
        display:block;
    }
    #grey-area {
        display: none;
    }
    .navigationbar {
        position: static;
        display:block;
        width: 100%;
    }
    
    .content {
        margin-left: 0px;
    }
}

@media (max-device-width: 500px), (max-width: 500px) {
    .page-title {
        font-size: 2.2em;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1em;
    }
}









.slideshow {
    background: #AAA;
    position: relative; /* so absolute position works for children */
    
}

.slideshow :not(button) {
    margin:auto;
}

.leftButton {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -1.5em;
    padding: 0px 16px;
}

.rightButton {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -1.5em;
    padding: 0px 16px;
}







