{% extends "app/main.html" %}
{% load static %}
{% load pygment_code %}
{% block content %}
    <p class = "page-title"> Home/About Me </p>
    <p>
        Welcome to the website of Levi Stoddard! This is the website where I am going to showcase all of my projects and perhaps even a few blog articles.
    </p>
    <p>
        I am a fourth year computer science student at the University of Washington Bothell. I've been programming for about eight years and I love it.
    </p>
    <p>
        <strong>This website is a current work in progress</strong>, but please feel free to look around. I'm currently open to Summer internship oppertunities and part time employment
        (< 20 hours a week) while I work at school.
    </p>

    <h1> Recommended Posts </h1>
    <a href = "{% url 'main' 'blog/870ee47a-0681-40f0-a914-84b20de693b0' %}"> Asteroidiga First Post </a>

    
    <h1> external links </h1>
    <p><a href = "https://www.linkedin.com/in/levistoddard/"> My linkedin profile </a></p>
    
    <h1> about this website </h1>
    <p>
        This website is built using the django library because I like python and
        hosted on pythonanywhere because the free service is sufficient for my
        needs and extremely easy to use (I set up the django project on my computer,
        pushed it to GitHub, pulled it from GitHub on their website, changed a few files and done!).
    </p>
    <p>
        I also created my own django template tag which allows me to show highlighted code like this file which creates registers the tag itself
        {% pygment_code 'python' %}
from django import template
from django.template import Context
register = template.Library()

from pygments import highlight
from pygments.lexers import get_lexer_by_name
from pygments.formatters import HtmlFormatter


class PygmentCodeNode(template.Node):
    def __init__(self, content, code_language):
        self.content = content
        self.code_language = code_language

    def render(self, context):
        # return the highlighted code with buttons which allow easy selection
        return '<div class="highlight-container">' +\
        '<button class="hide-lines-button"> toggle line numbers </button>'+\
        highlight(self.content, get_lexer_by_name(self.code_language, stripall=True), HtmlFormatter(linenos='inline')) +\
        '</div>'

@register.tag
def pygment_code(parser, token):
    try:
        # split_contents() knows not to split quoted strings.
        tag_name, code_language = token.split_contents()
    except ValueError:
        raise template.TemplateSyntaxError("pygment_code tag requires exactly one argument")
    
    if not (code_language[0] == code_language[-1] and code_language[0] in ('"', "'")):
        raise template.TemplateSyntaxError("pygment_code tag's argument should be in quotes")

    #strip the quotation marks
    code_language = code_language[1:-1]

    nodelist = parser.parse(('endpygment_code',))
    parser.delete_first_token()
    return PygmentCodeNode(nodelist.render(Context()), code_language)

        {% endpygment_code %}
    </p>
    <p><a href = "https://github.com/LinuxKid21/PersonalWebsite"> Here is the code for this website on GitHub</a> All you need to run it is python 3, django, and pygments</p>


{% endblock %}
