{% extends "app/blog/blog_template.html" %}
{% load static %}
{% load pygment_code %}

{% block blogContent %}
    <h1> Mnemonics </h1>

    <p>
        If you know what mnemonics are then skip this section. My writing is no piece of art, so maybe skip it anyway :)
    </p>
    <p>
        I’ve read several mnemonics books. Many of them feature a memory trick called “visual mnemonics” which leverages the brains ability to remember images to
        remembering other information. As an example, if you have a list of words: tree, monkey, pizza, building, and fire then you can first picture a tree.
        Then perhaps the tree transforms into a monkey. The monkey grabs a huge slice of pizza and takes it to the top of a building which spontaneously combusts into fire.
        It sounds ridiculously silly I know, but it really does work if practised enough. This same method can be extended and is used in memory competitions, but
        it can also be a fun party trick or even extended to memorizing foreign language vocabulary.
    </p>
    
    <h1> The Application </h1>
    <p>
        Mnemonics Trainer generates a list of words for you and recites them to you. You can then memorize them with mnemonics and try to pass the quiz.
        Afterwards it gives you a score and you can try again. Screen shots:
    </p>
    
    <div class = "slideshow">
        <img src = "{% static 'app/images/OldMnuemonicsApp/1.png' %}" />
        <img src = "{% static 'app/images/OldMnuemonicsApp/2.png' %}" />
        <img src = "{% static 'app/images/OldMnuemonicsApp/3.png' %}" />
        <img src = "{% static 'app/images/OldMnuemonicsApp/4.png' %}" />
        <img src = "{% static 'app/images/OldMnuemonicsApp/5.png' %}" />
        <img src = "{% static 'app/images/OldMnuemonicsApp/6.png' %}" />
        
        <button class="leftButton">&#10094;</button>
        <button class="rightButton">&#10095;</button>
    </div>
    
    <h1> Technology </h1>
    
    <p>
        This application is built in C and Gtk. I used codeblocks as an IDE. I have never tried to compile it on any system other than my own so I can’t
        guarantee it will work if you download it right now! I am planning on getting a laptop soon(with windows) so I’ll be able to test it then.
        This was my first C and Gtk application so the code is probably pretty messy, but here it is <a href="https://github.com/LinuxKid21/Mnemonics-Trainer"> on Github. </a>
    </p>
{% endblock blogContent %}