{% extends "app/blog/blog_template.html" %}
{% load static %}

{% block blogContent %}
    <h1> The Experiment </h1>
    <p>
        A while ago I was experimenting with multi-core processing and one of those experiments was with a naive image blurring algorithm.
        The algorithm takes in two variables: n and r.
        All it does is, for every pixel, take a box with a size of n*n around the pixel, calculate the average color of those pixels and assigns that average to the original pixel.
        Because this naive blur effect looks blocky it gets repeated r times for desired smoothness.
    </p>
    <img src = "{% static 'app/images/ImageProcessorContrast.gif' %}" />
    <p>(Source is from the Blender3d Forums here)</p>

    <p>Running the algorithm without threads with n=5 and r=3 took 29 seconds. Running the same test with 8 threads only took 3 seconds!</p>
{% endblock blogContent %}