{% extends "app/main.html" %}
{% load static %}
{% block content %}
    {% if tag_name == "project" %}
        <p class = "page-title"> Projects </p>
    {% elif tag_name == "blog" %}
        <p class = "page-title"> Blog </p>
    {% else %}
        <p class = "page-title"> Error </p>
        <p>Oops, looks like this page doesn't exist.</p>
    {% endif %}

    {% for page in blogPages %}
    
        <div style = "clear: both;">
            <div class="bloglistlink"><a href="{% url 'blog' page.contentFile %}">{{page.title}}</a></div>
            {% with imgLoc='app/images/'|add:page.imageFile %}
                <img class = "img-left" style = "max-width: 200px; max-height: 200px; margin-bottom: 10px;" src = "{% static imgLoc %}"/>
            {% endwith %}
            <p>{{page.summary}}</p>
        </div>
    {% endfor %}
{% endblock %}
