{% extends "app/main.html" %}
{% load static %}
{% block content %}
    {% if tag_name == "project" %}
        <p class = "page-title"> Projects </p>
    {% elif tag_name == "blog" %}
        <p class = "page-title"> Blog </p>
    {% else %}
        <p class = "page-title"> Error </p>
        <p>Oops, looks like this page doesn't exist.</p>
    {% endif %}

    {% for page in blogPages %}
    {% if page.published %}
        <div style = "clear: both;">
            <div class="bloglistlink"><a href="{% url 'blog' page.id %}">{{page.title}}</a></div>
            {% with imgLoc='app/images/'|add:page.imageFile %}
                <img class = "img-left" style = "max-width: 200px; max-height: 200px; margin-bottom: 10px;" src = "{% static imgLoc %}"/>
            {% endwith %}
            <p>{{page.summary|safe}}</p>
            <p style="margin-bottom: 0em; text-align: right;">published: {{page.publication_date}} {{page.publication_time}} PST/PDT</p>
            <p style="margin-bottom: 0em; text-align: right;">last edited: {{page.edit_date}} {{page.edit_time}} PST/PDT</p>
            
            
            
            {% if admin %}
            <!-- add delete capabilities for me :) -->
            <form action="{% url 'main' 'admin/delete' %}" method="post">
                <input type="hidden" name="pageID" value = "{{page.id}}">
                <input type="submit" value="delete">
                {% csrf_token %}
            </form>
            
            <!-- add update capabilities for me :) -->
            <form action="{% url 'main' 'admin/update' %}" method="post">
                <input type="hidden" name="pageID" value = "{{page.id}}">
                <input type="submit" value="update">
                {% csrf_token %}
            </form>
            {% endif %}
        </div>
    {% endif %}
    {% endfor %}
    
    {% comment %} this shows drafts, but only for the admin {% endcomment %}
    {% if admin %}
        <p class = "page-title"> Drafts </p>
        {% for page in blogPages %}
        {% if not page.published %}
            <div style = "clear: both;">
                <div class="bloglistlink"><a href="{% url 'blog' page.id %}">{{page.title}}</a></div>
                {% with imgLoc='app/images/'|add:page.imageFile %}
                    <img class = "img-left" style = "max-width: 200px; max-height: 200px; margin-bottom: 10px;" src = "{% static imgLoc %}"/>
                {% endwith %}
                <p>{{page.summary|safe}}</p>
                
                
                
                <form action="{% url 'main' 'admin/delete' %}" method="post">
                    <input type="hidden" name="pageID" value = "{{page.id}}">
                    <input type="submit" value="delete">
                    {% csrf_token %}
                </form>
                
                <form action="{% url 'main' 'admin/update' %}" method="post">
                    <input type="hidden" name="pageID" value = "{{page.id}}">
                    <input type="submit" value="update">
                    {% csrf_token %}
                </form>
            </div>
        {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
