{% extends "app/main.html" %}
{% load static %}
{% load pygment_code %}

{% block content %}
    <p style = "margin-top: 80px;"> this is a preview page.
        {% if blogPage.published %}
            It has been <b>published</b>. See the published page <a>here</a>
        {% else %}
            It is just a <b>draft</b>.
        {% endif %}
        <form action="{% url 'main' 'admin/update' %}" method="post">
            <input type="hidden" name="pageID" value = "{{blogPage.id}}">
            <input type="submit" value = "go back and edit">
            {% csrf_token %}
        </form>
    </p>
    
        
    <p class = "page-title"> {{blogPage.title}} </p>
    <p style="margin-bottom: 0em; text-align: right;"> published: {{blogPage.publication_date}} {{blogPage.publication_time}} PST/PDT</p>
    {% if blogPage.edited %}
        <p style="margin-bottom: 0em; text-align: right;"> last edited: {{blogPage.edit_date}} {{blogPage.edit_time}} PST/PDT</p>
    {% endif %}
    
    {{ blogPage.content|safe }}
    
{% endblock %}
