{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Levi Stoddard</title>
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/highlight.css' %}">
        
        <script src="{% static 'app/scripts/jquery-3.2.1.min.js' %}"> </script>
        <script src="{% static 'app/scripts/main.js' %}"> </script>
        
        <!-- apparently makes devices use their logical width instead of their real resolution
            so websites don't appear zoomed out on phones with high pixel density -->
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class = "page">
            <!-- this is the area on the side of the screen-->
            <div id = "grey-area"></div>
            <div class = "websiteHeader">
                <p class = "websiteTitle">Levi Stoddard</p>
            </div>
            <div class = "sideAndPageHolder">
                <ul class = "navigationbar">
                    <li><a href="{% url 'main' 'home.html' %}">Home</a></li>
                    <li><a href="{% url 'main' 'index/Blog' %}">Blog</a></li>
                    <li><a href="{% url 'main' 'index/Project' %}">Projects</a></li>
                    <li><a href="https://www.linkedin.com/in/levistoddard/">Linkedin Profile</a></li>
                </ul>
                <div class = "content">
                    <div class = "centered-content">
                        {% block content %}
                            <p> page not found! </p>
                            <a href = "home.html"> return to home </a>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="footer"> <p style="color: #FFF; margin: 0;">&copy;2017</p>
            </div>
        </div>
    </body>
</html>
